@model Team_27_FinalProject.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Report Detail</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property.PropertyNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property.PropertyNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckinDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckinDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckoutDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckoutDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfGuests)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfGuests)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CleaningPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CleaningPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WeekdayFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WeekdayFee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WeekendFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WeekendFee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StayPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StayPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDiscounted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDiscounted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfNights)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfNights)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subtotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SalesTax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SalesTax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservationTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commission)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HostRevenue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HostRevenue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalEarning)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalEarning)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
